<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Modulo 2 Ejercicio P2P">
        <meta name="keywords" content="Node,JS,express">
        <title>Preguntas</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet"
              media="only screen and (min-width: 530px) and (min-device-width: 481px)"
              href="/stylesheets/wide.css"/>
        <link rel="stylesheet" 
              media="only screen and (max-width: 480px)"
              href="/stylesheets/smartphone.css"/>
    </head>
    <body>
        <div id="page-wrap">
            <header id="cabecera">
                <h2>Quiz<span>: el juego de las preguntas</span></h2>
            </header>
            <nav id="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/quizes/question">Preguntas</a></li>
                </ul>
            </nav>
            <section id="main">
                <%- body %>
            </section>
            <footer id="pie">
                <a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un quiz?</a>
                <a href="https://github.com/cachocenso/quiz" target="_blank">https://github.com/cachocenso/quiz</a>
            </footer>
        </div>
    </body>
</html>